<footer>
    <ul>
        <li>&copy; <span id="date"></span></li>
        <li>A blogging website</li>
        <li><a href="mailto:manuelviotor@gmail.com">Email the developers</a></li>
    </ul>
</footer>
<script src="/script.js"></script>