<div class="nav">
    
    <div class="site-title">
        <a href="/"><h1>Site Title</h1></a>
        <p>Site slogan</p>
    </div>

    <ul class="menu-items">
        <li><a href="/about">About</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/products/add">Add products</a></li>
    </ul>

</div>